body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px;
}

.navbar {
  width: 100%;
  padding: 1.25rem 0;   border-bottom: 2px solid #e2e8f0; }

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  padding: 10px 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
}

.logo-text {
  font-weight: 600;   font-size: 1.25rem; color: #334155; }

.actions {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.actions img {
  cursor: pointer;
}

.login-button,
.signup-button {
  border: 2px solid #334155;
  padding: 0.5rem 0.75rem;
  text-align: center;
  cursor: pointer;
  background: #fff;
}

.signup-button {
  background-color: #334155;
  color: #ffffff;
}

.hero-section {
  height: 90vh;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.hero-section .text-content {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline1 {
  font-size: 3rem;
  font-weight: bold;
  color: #0f172a;
}

.cta-button1 {
  padding: 1rem 1.5rem;   background-color: #3b82f6;   border-radius: 0.5rem;   color: #ffffff;
  border: none;
  cursor: pointer;
  width: fit-content;
}

.image-content {
  height: 100%;
  width: 50%;   display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image {
  max-width: 700px;   height: auto;
  object-fit: contain; }

.stats-section {
  margin-top: 2.5rem;   background-color: #f8fafc;
}

.stats-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  gap: 10px;
}

.stat-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: fit-content;
}

.stat-number {
  font-weight: 600;   font-size: 2.25rem; }

.stat-description {
  font-size: 1.25rem;
  padding-top: 10px; }

.divider {
  height: 5rem;   width: 2px;   background-color: #e2e8f0;
  border: none;
}

.top-categories-section {
  padding-top: 1.25rem;   padding-bottom: 1.25rem; }

.title-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-section a {
  text-decoration: underline;
  font-size: 20px;
  color: #0099ff;
}

.top-categories-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 50px;
}

.section-title {
  font-size: 1.875rem;   font-weight: 600;
  color: #0F172A; }

.courses-list,
.categories-list,
.instructors-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1.25rem;
  gap: 10px;
  padding-bottom: 10px;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;   border: 2px solid #e2e8f0;   border-radius: 0.75rem;   background-color: #ffffff;   width: 250px; }

.category-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;   height: 4rem;   background-color: #e0f2fe;   border-radius: 100%;   padding: 25px;   margin-bottom: 0.75rem; }

.icon-image {
  width: 100%;   height: auto;
}

.category-title {
  font-weight: 600;   font-size: 1.25rem; }

.category-count {
  color: #0f172a;   font-weight: 500; padding: 10px;}

.top-courses-section,
.top-instructors-section {
  padding-top: 1.25rem;   padding-bottom: 1.25rem; }

.top-courses-container,
.top-instructors-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2.5rem;
}

.section-title {
  font-size: 1.875rem;   font-weight: 500; padding: 10px;}


.course-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  padding: 16px;   border: 1px solid #e2e8f0;   border-radius: 15px;   background-color: #ffffff;   width: 100%;   max-width: 298px; height: 100%;max-height: 338px;}

.instructor-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 1.25rem;   border: 2px solid #e2e8f0;   border-radius: 0.75rem;   background-color: #ffffff;   width: 100%;   max-width: 250px;
}

.course-image,
.instructor-image {
  width: 100%;   height: 9rem;   border-radius: 0.375rem;   object-fit: cover;
  margin-bottom: 0.5rem;   margin-top: 0.25rem; }

.instructor-image {
  height: 12rem;   width: 15rem; }

.course-title,
.instructor-name {
  font-weight: 600;   font-size: 1.125rem; }

.course-instructor,
.instructor-title {
  color: #6b7280;   font-weight: 500; }

.course-rating,
.instructor-rating {
  color: #4b5563;   font-weight: 500; }

.course-details {
  color: #4b5563;   font-weight: 500;
  text-wrap: nowrap;
  font-size: 0.9rem; }

.course-price {
  font-weight: 600;   font-size: 1.125rem; }

.instructor-stats {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #e2e8f0;   padding: 0.5rem;
  width: 90%;
  gap: 10;
  margin-top: 5px; }

.testimonials-section {
  padding-top:80px;
}
.become-instructor-section {
  padding-top: 2.5rem;   padding-bottom: 2.5rem;   background-color: #f8fafc; }

.container {
  max-width: 1200px;   margin: 0 auto;
  padding: 1.25rem; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.875rem;   font-weight: 600; }

.navigation-buttons {
  display: flex;
  gap: 0.5rem;
   }
.navigation-buttons .nav-button {
  border: 1px;
}
.nav-button {
  padding: 0.5rem;   background-color: #94a3b8;   border-radius: 8px; }

.nav-icon {
  width: 1.25rem;   height: 1.25rem;   object-fit: contain;
}

.right {
  rotate: 180deg;
}

.testimonials-container {
  display: flex;
  overflow-x: hidden;
  gap: 1.25rem;   margin-top: 2.5rem; }

.testimonial-item {
  background-color: #ffffff;   border-radius: 0.75rem;   padding: 1.25rem;   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);   min-width: 25rem;   display: flex;
  flex-direction: column;
  gap: 10;
  margin: 5px; }

.quote-icon {
  width: 2rem; }

.testimonial-text {
  font-weight: 500; }

.testimonial-author {
  display: flex;
  align-items: center;
  gap: 0.75rem; }

.profile-image {
  width: 3.5rem;   height: 3.5rem;   object-fit: cover;
  border-radius: 50%; }

.author-details {
  display: flex;
  flex-direction: column;
}

.author-name {
  font-weight: 700;   font-size: 1.125rem; }

.author-title {
  font-size: 1rem;   color: #334155; }

.instructor-content {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.image-container {
  flex: 1;
}

.instructor-image {
  width: 100%;
  max-width: 500px;   height: auto;
  object-fit: contain;
}

.text-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem; }

.headline {
  font-size: 2rem;   font-weight: 700; }

.description {
  width: 70%; }

.cta-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.25rem;   background-color: #000000;   border-radius: 0.75rem;   color: #ffffff;   gap: 0.75rem;
  width: fit-content; }

.cta-icon {
  width: 1.25rem;   height: 1.25rem; }
.bsuy.bsuy {
  text-decoration: none; 
}
.container {
  max-width: 1200px;   margin: 0 auto;
  padding: 1.25rem; }

.become-instructor-section {
  padding: 2.5rem 0; }

.instructor-content {
  display: flex;
  gap: 2.5rem;   margin-bottom: 2.5rem; }

.instructor-content.reversed {
  flex-direction: row-reverse;
}

.image-container {
  flex: 1;
}

.image-container:last-child {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.instructor-image {
  width: 100%;
  max-width: 500px;   height: auto;
  object-fit: contain;
}

.text-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem; }

.headline {
  font-size: 1.5rem;   font-weight: 700; }

.description {
  width: 70%; }

.cta-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.25rem;   background-color: #000000;   border-radius: 0.75rem;   color: #ffffff;   gap: 0.75rem; }


.cta-icon {
  width: 1.25rem;   height: 1.25rem; }

.footer-section {
  background-color: #1e293b;   color: #ffffff;   padding: 2.5rem 0; }

.footer-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.footer-logo {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-text {
  font-weight: 600;   font-size: 1.25rem; }

.footer-description {
  font-size: 0.875rem; }

.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-heading {
  font-weight: 700;   margin-bottom: 0.5rem;
}

.footer-item {
  cursor: pointer;
  transition: color 0.3s ease;
  margin-bottom: 10px;
}

.footer-item:hover {
  text-decoration: underline; }

.footer-item img {
  width: 300px;   height: auto;
  background-color: transparent;
  margin-top: 10px;
}
.footer-logo .logo-link {
  text-decoration: none !important;
  color: white !important;
  border: none !important;
  box-shadow: none !important;
}

